.trends {
  &-row {
    display: flex;
    gap: 1.6rem;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-tabs {
    &-content {
      display: none;
      &.active{
        display: block;
      }
      border: 1px solid #282929;
      background: #161818;
      color: #FFF;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 165%;
      text-align: center;
      @media (max-width: 450px) {
        font-size: 1.4rem;
      }
      @media (max-width: 400px) {
        overflow: auto;
      }
      &-column {
        width: 33.3%;
        padding: 1.6rem 0.8rem;
        vertical-align: middle;
        @media (max-width: 450px) {
          padding: 1.2rem 0.8rem;
        }
        &:first-child {
          padding-left: 1.6rem;
          @media (max-width: 450px) {
            padding-left: 1.4rem;
          }
        }

        &:last-child {
          padding-right: 1.6rem;
          @media (max-width: 450px) {
            padding-right: 1.4rem;
          }
        }
      }

      &-row {
        display: flex;
        align-items: center;
        @media (max-width: 400px) {
          min-width: 400px;
        }
        &:not(:last-child){
          border-bottom: 1px solid  #282929;
        }

      }
    }

    &-head {
      display: flex;

      &__item {
        padding: 1.5rem 1rem;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #282929;
        background: rgba(39, 236, 152, 0);
        gap: 0.8rem;
        color: #A9ACAC;
        font-family: "Exo 2", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 122%;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;

          svg {
            path {
              transition: 0.4s ease-in-out;
              fill: #A9ACAC;
            }
          }
        }

        &:hover {

          border-bottom: 1px solid rgba(#27EC98, 1);
        }

        &.active {
          color: #27EC98;
          border-bottom: 1px solid rgba(#27EC98, 1);
          background: rgba(39, 236, 152, 0.1);

          .icon {
            svg {
              path {
                fill: #27EC98;
              }
            }
          }
        }
      }
    }

    &-container {
      width: calc(100% - 104rem);
      @media (max-width: 1500px) {
        width: 38%;
      }
      @media (max-width: 1200px) {
        width: 100%;
        max-width: 50.4rem;
      }
    }
  }

  &-table {
    width: 102.4rem;
    @media (max-width: 1500px) {
      width: 60%;
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      overflow: auto;
    }
    &-button-container {
      display: flex;
      justify-content: flex-end;
    }

    &-change {
      &.plus {
        color: #27EC98;
      }

      &.minus {
        color: #ED3C56;
      }
    }

    &-coin {
      display: flex;
      gap: 1.2rem;
      color: #A9ACAC;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 168%;
      text-align: left;
      @media (max-width: 450px) {
        font-size: 1.3rem;
      }
      strong {
        display: block;
        font-size: 1.6rem;
        color: #fff;

        @media (max-width: 450px) {
          font-size: 1.4rem;
        }
      }

      &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        flex-shrink: 0;
        flex-grow: 0;
        @media (max-width: 450px) {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 9rem;
      height: 100%;
      transition: 0.2s ease-in-out;
      @media (max-width: 450px) {
        display: none;
      }
      &-head{
        width: 100%;
        display: none;
        padding: 1rem 1.6rem;
        border: 1px solid #282929;
        background: #161818;
        label{
          display: block;
          width: calc(100% - 3rem);
        }
        input{
          border: none;
          background: none ;
          color: #fff;
        }
        button{
          width: 2.4rem;
          height: 2.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;
        }
        @media (max-width: 450px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        background: none;
        border: none;
        outline: none;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
      }

      label {
        pointer-events: none;
        position: absolute;
        display: block;
        margin: 0.5rem 1.6rem;
        width: calc(100% - 3.2rem);
        height: calc(100% - 1rem);
      }

      input {
        opacity: 0;
        padding: 1.7rem 1.6rem;
        padding-right: 5rem;
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid #FFF;
        background: #1DA069;
        color: #FFF;
        font-family: "Exo 2", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 122%;
        transition: 0.2s ease-in-out;
      }

      &.active {
        width: 100%;

        input {
          opacity: 1;
        }

        label {
          pointer-events: auto;
        }
      }
    }

    table {
      width: 100%;
      @media (max-width: 767px) {
        min-width: 768px;
      }
      th, td {
        padding: 1.6rem 0.8rem;
        vertical-align: middle;

        &:first-child {
          padding-left: 1.6rem;
          @media (max-width: 450px) {
            padding-left: 1.4rem;
          }
        }

        &:last-child {
          padding-right: 1.6rem;
          @media (max-width: 450px) {
            padding-right: 1.4rem;
          }
        }
      }

      thead {
        position: relative;
        background: #049658;
        color: #FFF;
        font-family: "Exo 2", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 122%;
        text-align: left;
        @media (max-width: 1500px) {
          font-size: 1.4rem;
        }
        @media (max-width: 450px) {
          font-size: 1.6rem;
        }
      }

      tbody {
        border-right: 1px solid #282929;
        border-left: 1px solid #282929;
        color: #FFF;
        font-family: "Noto Sans", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 165%;
        @media (max-width: 1500px) {
          font-size: 1.4rem;
        }

        tr {
          border-bottom: 1px solid #282929;
        }
      }
    }
  }
}